/* @override http://localhost:8080/app/styles/styles.css */

.center {
    text-align: center;
}
.search-bar {
		max-width:400px;
        margin: 0 auto;
    }
.center-div{
	 margin: 0 auto;
}





	
	.navbar-color {
		background-color: white;
		
	}
	
	.navbar-text-color{
		
		color: black;
	}
