/* @override http://localhost:8080/app/styles/styles.css */

.center {
    text-align: center;
}
.search-bar {
		max-width:400px;
        margin: 0 auto;
    }
.center-div{
	 margin: 0 auto;
	 text-justify: inter-word;
	text-align: center;
}

.subject {
	margin: 20px 75px 20px 75px; 
	text-justify: inter-word;
	text-align: center;

}

.textarea-subject{
	text-align:center;

}

.textarea-post{

	text-align:center;

}


.post {
	margin: 20px 75px 20px 75px; 
	text-justify: inter-word;
	text-align: center;

}


	
	.navbar-color {
		background-color: white;
		
	}
	
	.navbar-text-color{
		
		color: black;
	}
